</head>
<body>
<nav>
  <a 
    href="/destinations/new"
    <%- title === 'Add a Destination' ? 'class="active"' : '' %>
    >Add a Destination
  </a>
    <a href="/flights/new"
    <%- title === 'Add a Flight' ? 'class="active"' : '' %>
    >Add a Flight
  </a>
    <a href="/flights"
    <%- title === 'All Flights' ? 'class="active"' : '' %>
    >All Flights
  </a>
</nav>