<%- include('./partials/html-head') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('./partials/nav') %>


<main>
    <h1 class="front-page"><%= title %></h1>
    <h2>nyooooooom</h2>
</main>


<%- include('./partials/footer') %>
