html {
  box-sizing: border-box
}

*,
*::before, 
*::after { 
  box-sizing: inherit;
  font-family: 'Zen Kurenaido', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    font-size: 62.5%
}

body {
  background-color: mintcream;
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(white, mintcream, paleturquoise);
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-image: linear-gradient(to right, white, paleturquoise);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: #424748;
  background-color: mintcream;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2.4rem;
}

h1 {
  font-family: 'Uchen', serif;
  font-style: italic;
  font-size: 38px;
}

.t-header {
  font-family: 'Uchen', serif;
  font-size: 2rem;
}