html {
  box-sizing: border-box
}

*,
*::before, 
*::after { 
  box-sizing: inherit;
  font-family: 'Zen Kurenaido', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    font-size: 62.5%
}

body {
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=");
  background-size: cover;
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 146, 228, 0.8));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: #424748;
  background-color: mintcream;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2.8rem;
}

h1 {
  font-family: 'Uchen', serif;
  font-style: italic;
  font-size: 38px;
}

.t-header {
  font-family: 'Uchen', serif;
  font-size: 2rem;
}

.front-page {
  font-size: 66px;
}

h2 {
  font-size: 40px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  color: #424748;
  background-color: mintcream;
}

button:hover {
  background-color: #424748;
  color: mintcream;
}