
form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
  margin-bottom: 2rem;
  background-color: rgba(168, 146, 228, 0.6);
}

form * {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 2rem;
}

form > button {
  font-size: 1.6rem;
  width: 16rem;
  grid-column: 2 / 3;
  margin-bottom: 2.4rem;
}

p {
  background-color: rgba(168, 146, 228, 0.6);
  font-size: 24px;
  padding: 10px;
}