
form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
  margin-bottom: 2rem;
  background-color: rgba(168, 146, 228, 0.6);
}

form * {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 2rem;
}

form > button {
  border: none;
  border-radius: 10%;
  padding: 10px 15px 10px 15px;
}

p {
  background-color: rgba(168, 146, 228, 0.6);
  font-size: 24px;
  padding: 10px;
}