ul {
  margin: 0 0 1.6rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 2rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  background-color: rgba(168, 146, 228, 0.9);
}

table td {
  padding: 10px;
  text-align: center;
  background-color: rgba(168, 146, 228, 0.6);
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
  margin: 15px;
  padding: 20px;
  background-color: rgba(168, 146, 228, 0.6);
  border-radius: 5%;
}

section div:nth-child(even) {
  font-weight: bold;
}